@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.searchbar{
    @apply h-10;
}

.searchbar[data-isOpen="true"]{
    @apply h-52;
}

.searchResults{
    @apply h-0;
}

.searchbar[data-isOpen="true"] .searchResults{
    @apply mt-1 h-full w-full border-t;
}

/* Scrollbar Override */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar:vertical {
    height: 5px;
}
::-webkit-scrollbar-track {
    background-color: #ebebeb;
/* border-radius: 12px; */
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
background: linear-gradient(108.42deg, #84baf9 16.76%, #79b4f7 62.49%);
/* border: 6px solid rgba(0, 0, 0, 0.2);  */
}

::-webkit-scrollbar-thumb:active{
    background: linear-gradient(108.42deg, #84baf9 16.76%, #79b4f7 62.49%);
}


::-webkit-scrollbar-thumb:hover {
background-color: #84baf9;
}