@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.searchbar{
    @apply h-10;
}

.searchbar[data-isOpen="true"]{
    @apply h-auto;
}

.searchbarInput{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0 0.45rem;
    background-size: 1.5rem 1.5rem;
}

.searchResults{
    @apply h-0;
}

.searchbar[data-isOpen="true"] .searchResults{
    @apply h-full w-full border-t;
}

/* Scrollbar Override */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar:vertical {
    height: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
/* border-radius: 12px; */
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
background: linear-gradient(108.42deg, #84baf9 16.76%, #79b4f7 62.49%);
/* border: 6px solid rgba(0, 0, 0, 0.2);  */
}

::-webkit-scrollbar-thumb:active{
    background: linear-gradient(108.42deg, #84baf9 16.76%, #79b4f7 62.49%);
}


::-webkit-scrollbar-thumb:hover {
background-color: #84baf9;
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
    text-indent: -9999px;
}
  
  @keyframes skeleton-loading {
    0% {
        background-color: hsl(198, 8%, 58%);
    }
    100% {
        background-color: hsl(207, 20%, 30%);
    }
}